<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The world famous burge whopper</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
      <main>
        <h1>Välkommen till BurgerOnline</h1>
      </main>
      
      <section>
        <h2>Välj en hamburgare</h2>
        <p>Välj en av dessa läckra hamburgare</p>

        <table>
          <thead>
            <tr>
              <th>MEGABURGER</th>
              <th>SUPERBURGER</th>
              <th>MEGA-SUPERburger</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://i.pinimg.com/originals/6f/a9/65/6fa96522cdd808f2ccc576c85ef949b0.jpg" alt="Span" title="Another in-line element" width="150"></td>
              <td><img src="https://storage.googleapis.com/orchestra-cafe-7jp1kqsp/uploads/2017/05/grilla-hamburgare-tips.jpg" alt="Span" title="Another in-line element" width="150"></td>
              <td><img src="https://cdn.stowr.se/p/8d/67/8d67ac3ed75f9ac5b199c0b6891d6b65e33da97f-105883-2.jpg" alt="Span" title="Another in-line element" width="150"></td>
            </tr>
            <tr>
              <td>
                
                <ul>
                  <li>Vegan</li>
                  <li>With meat</li>
                  <li>Real men</li>
                </ul>
                
              </td>
              <td>
                <ul>
                  <li>Vegan</li>
                  <li>With meat</li>
                  <li>Real men</li>
                </ul>

              </td>
              <td>
                <ul>
                  <li>Vegan</li>
                  <li>With meat</li>
                  <li>Real men</li>
                </ul>
                
              </td>
            </tr>
            
          </tbody>
          <tfoot>
            <tr>
              
            </tr>
          </tfoot>
        </table>
      </section>

      <section>
        <h2>Fyll i kontaktinformation här:</h2>
        <p>Om du vill ha din burgare behöver vi ditt namn, din adress och dina pengar</p>

        
        <main>
          <section id="contact">
            <form>

              <p>
                <label for="firstname">First- and last name</label><br>
                <input type="text" id="firstname" name="fn" required="required" placeholder="First- and last name" />
              </p>

              <p>
                <label for="firstname">Kön</label><br>
                <input type="radio" name="gender" checked = "checked" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other
              </p>
              
              <p>
                <label for="lastname">Email-Adress</label><br>
                <input type="text" id="lastname" name="ln" placeholder="Email-adress" />
              </p>
              <p>
                <label for="Adress">Adress</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="Adress" />
              </p>

              <p>
                <label for="House">House number</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="House number" />
              </p>

              <p>
                <label for="Payment method">Betalsätt</label><br />
                <select id="recipient" name="rcp">
                  <option>Kort</option>
                  <option>Kontant</option>
                  <option>Swish</option>
                  <option>Räkning med ränta</option>
                  <option>Låna pengar</option>
                </select>
              </p>
              

            </form>
          </section>
        </main>

        <button type="submit"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFzWftnUl_RpT5sq6RPuNjhwBqhPl7EhXt7-q4wEd4Il7mX5ig" width= "35"/> Send Info</button>
        
      </section>
      <footer></footer>
    </body>
</html>
     
