
body {
    font-family: arial;
    font-size: 1.2em
}

main header img
{
    width: 100%;
    height: auto;
    opacity: 0.5;   
}

main header h1
{
    position: absolute;
    overflow: hidden;
    text-align: center;
}
header
{  
    margin: 1px 2px 3px 4px;
    height: 100%;   
}
.allergy
{
    font-weight: bold;
    color: #ff5500;
}

.hamburgers
{
    color: white;
    background-color: black;
    border: 5px dashed #ff9900;
    text-align: center;
    
}

section
{
    margin: 1px 2px 3px 4px;
}

table
{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.kontakt
{
    border: 5px dashed black;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

#wrapper {
    grid-templete-columns: 200px 200px 200px 200px 200px;
     display: grid;
     grid-column-gap: 10px;
     column-count: 5;
     background-color: black;
     color: #444;
     
     
     
}

#displayhamburgers
{
    
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}


 