
body {
    font-family: arial;
    font-size: 1.2em
}

.allergy
{
    font-weight: bold;
    color: #ff5500;
}

.hamburgers
{
    color: white;
    background-color: black;
}

section
{
    margin: 1px 2px 3px 4px; 	
}

table
{
    width: 70%;
    margin: 0 auto;
}

.kontakt
{
    
}

button:hover {
    background-color: green;
    cursor: pointer;
}